<noscript>
  <h3 style="color: #673ab7; font-family: Helvetica; margin: 2rem;">
    Sorry, but app is not available without javascript
  </h3>
</noscript>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Home</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">DssX</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">A.I.</a>
      <a class="p-2 text-muted" href="#">Visualization</a>
      <a class="p-2 text-muted" href="#">Analytics</a>
      <a class="p-2 text-muted" href="#">Data Science</a>
      <a class="p-2 text-muted" href="#">Text Ayx</a>
      <a class="p-2 text-muted" href="#">Predictive Ayx</a>
      <a class="p-2 text-muted" href="#">Descriptive Ayx</a>
      <a class="p-2 text-muted" href="#">Cognitive Ayx</a>
      <a class="p-2 text-muted" href="#">Tools</a>
      <a class="p-2 text-muted" href="#">Settings</a>
      <a class="p-2 text-muted" href="#">User</a>
      <a class="p-2 text-muted" href="#">Help</a>
    </nav>
  </div>

  <div class="jumbotron row p-3 p-md-5 text-white rounded bg-blue">

    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">Data Science for the future</h1>
      <p class="lead my-3">Inventing DSaaS - Data science as a service to find powerful and effective insights from data, with automated intelligent system driven with AI algorithms and ready to serve models.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Show me how...</a></p>
    </div>
    <div class="col-md-4 pull-right">
      <img src="assets/images/dsc.png" width="300px">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">A.I. for A.I.</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Classification Algorithms</a>
          </h3>
          <div class="mb-1 text-muted">Supervised Learning</div>
          <p class="card-text mb-auto">Automatically train the model to detect region of interest with provided labeled data.</p>
          <a routerLink="/clsft">Let's go..</a>
        </div>
        <!--<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">-->
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Analytics</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Predictive Analytics</a>
          </h3>
          <div class="mb-1 text-muted">Time Series</div>
          <p class="card-text mb-auto">Prediction of time series data using Machine Learning algorithms.  Extract information from data and using it to predict trends and behavior patterns</p>
          <a href="#">Know more..</a>
        </div>
        <!--<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">-->
      </div>
    </div>
  </div>

    <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">A.I. for A.I.</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Pattern Analysis</a>
          </h3>
          <div class="mb-1 text-muted">UnSupervised Learning</div>
          <p class="card-text mb-auto">Tries to find pattern in Unlabelled data</p>
          <a href="#">Know more..</a>
        </div>
        <!--<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">-->
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Analytics</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Prescriptive Analytics</a>
          </h3>
          <div class="mb-1 text-muted">Optimization</div>
          <p class="card-text mb-auto">Optimization algorithms to provide recommended decision options. </p>
          <a href="#">Know more..</a>
        </div>
        <!--<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">-->
      </div>
    </div>
  </div>
</div>



<footer class="blog-footer">

  <p>
    &copy; DssX 2018 &nbsp; | &nbsp; <a href="#">Back to top</a>
  </p>
</footer>
